
#odd {
    background-color:rgb(241, 241, 241)
}

table, td, th {
    border: 1px solid;
    border-color: rgb(221, 221, 221);
    border-collapse: collapse;
    border-spacing: 50px
}

tr:hover td {
    background-color: rgb(0, 0, 0);
     color: rgb(255, 255, 255)
}

td, th {
    width: 500px;
    height: 30px;
    text-align: center
}

th {
background-color: grey
}