header h1 {
    display: inline-block;
    margin-left: 10%;
    font-size: 50px;
    font-weight: bold;
}



nav  {
    box-sizing: border-box;
    display: inline-block;
    height: 80px;
   margin-left: 200px;
    padding: 25px 0px;
    
    color: green;
    right: 0;
  
    
}
nav a {
    margin: 0 2em;
    font-size: 30px;
}
hr {
    width:80%;
}
main {
    width: 80%;
    margin: 0 auto;
}

nav a:hover {
    cursor: pointer;
    color: rgb(204, 248, 204);
    font-weight: bolder;
    
}

p {
    font-size: 30px;
}

main h1 {
    font-size: 40px;
}
